@import url(./fonts/Sanchez-Regular.ttf);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
    font-size: 16px;
}

body {
    font-family: Sanchez;
    font-style: normal;
    font-weight: normal;
}
.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    width: 100%;
    background: #4B1409;
    position: sticky;
    z-index: 2;
    top: 0px;
}
.nav__logo {
    margin-left: 160px;
}
.logo__image {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.nav__items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 70%;
    margin-left: auto;
}
.nav__links {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    line-height: 29px;
    text-decoration: none;
    text-align: right;
    color: #AC664D;
}
.nav__links:hover {
    color: #FFFFFF;
    transition: 0.4s;
    transform: scale(1.2);
}
.header {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.header__video {
    background: #FFFFFF;
    opacity: 0.75;
    min-width: 100%;
    min-height: 100%;
}
.header__title {
    display:flex;
    justify-content: center;
    text-align: center;
    position: absolute;
    font-size: 64px;
    line-height: 82px;
    text-align: center;
    text-decoration-line: underline;
    color: #4B1409;
    width: 100%;
  }

.flags{
    height: 3vh;
}
  
@media screen and (max-width:768px) {
    .burger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%,-50%);
        z-index: 2;
    }
    .burger__line {
        width: 30px;
        height: 3px;
        background: #AC664D;
        margin:5px;
    }
    .nav__items {
        position: fixed;
        background: #4B1409;
        width: 100%;
        color: #AC664D;
        flex-direction: column;
        top: 40px;
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav__items.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .header.disappear {
        display: none;
    }
    .nav__logo {
        margin-left: 0;
        z-index: 2;
    }
    .item {
        opacity: 0;
    }
    .nav__links {
        font-size: 25px;
    }
    .item:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }
    .item:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }
    .item:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }
    .item:nth-child(4) {
        transition: all 0.5s ease 0.8s;
    }
    .item:nth-child(5) {
        transition: all 0.5s ease 0.10s;
    }
    .item:nth-child(6) {
        transition: all 0.5s ease 0.12s;
    }
    .item:nth-child(7) {
        transition: all 0.5s ease 0.14s;
    }
    .item.fade {
        opacity: 1;
    }
    .header__title {
        font-size: 50px;
        line-height: 70px;
    }
}
@media screen and (max-width:510px) {
    .header__title {
        font-size: 40px;
        line-height: 50px;
    }
}
@media screen and (max-width : 375px) { 
    .header__title {
        font-size: 30px;
        line-height: 40px;
    }
}

/*Dani*/
.menu-section {
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 732px;
    background-color: #AC664D;
    padding-top: 2rem;
}

.menu-title {
    background-color: #541C0A;
    height: 5rem;
    margin-left: 32%;
    margin-right: 32%;
    box-shadow: 0px 0px 4px 4px #541C0A;
}

.menu-big-title {
    font-size: 1.5rem;
    color:  #AC664D;
    text-align:center;
    padding-top: 0.8rem;
}

.menu-small-title {
    font-size: 1.2rem;
    color:  #AC664D;
    text-align: center;
    padding-top: 0.5rem;
}

.menu-display{
    background-color: #541C0A;
    margin: 2rem;
    padding: 2rem 2rem 0 2rem;
    display: grid;
    box-shadow: 0px 0px 4px 4px #541C0A;
    width: 80vw;
}

.menu-images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap: 3%;
    row-gap: 0%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.menu-image-1{
    border: 3px solid black;
    width: 100%;
}

.menu-name{
    color: #AC664D;
    display: grid;
    text-align: center;
    padding-top: 0.8rem;
}

.menu-price{
    color: #AC664D;
    display: grid;
    text-align: center;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

@media screen and (max-width: 480px){
    .menu-big-title{
        font-size: 1rem;
        text-align: center;
        padding-top: 0.5rem;
    }
    
    .menu-small-title{
        font-size: 0.8rem;
        text-align: center;
        padding-top: 0.5rem;
    }
}

@media (min-width: 481px) and (max-width: 768px){
    .menu-big-title{
        font-size: 1.2rem;
        text-align: center;
        padding-top: 1rem;
    }
    
    .menu-small-title{
        font-size: 1rem;
        text-align: center;
        padding-top: 0.5rem;
    }
}
/*Marc*/
.block-form{
    display: flex;
    background-color: #AC664D;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
   }
.hidden {display: none;}
.formulario{ 
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    background-color: #541C0A; 
    box-shadow: 0px 0px 4px 4px #541C0A;
    text-align:center ;
    height: 40vh;
    width: 70vw;
    margin: 1.5rem;
}
.personaform {
   width: 17rem;
   height: 2.8rem;
   background: #C0B09E;
   border: 0.0625rem solid #000000;
   box-sizing: border-box;
   display: block;
   margin: 1rem;
   border-radius: 10px;
   text-align: center;
}
.lastperf {
    width: 15rem;
    height: 2rem;
    margin: 1rem;
    background: #EAC3B5;
    border: 1px solid #000000;
    border-radius: 20px;
}
.reservation{
   display:flex;
   align-content: center;
   justify-content: center;
   align-items: center;
   height: 4rem;
   width: 20rem;
   margin-bottom: 1rem;
   color: #FFFFFF;
   font-size: 26px;
   line-height: 36px;
   background-color: #541C0A;
   box-shadow: 0px 0px 4px 4px #541C0A;
}
@media screen and (max-width:768px) {
    .formulario{
        height: 70vh;
    }
    .reservation{
        height: 3rem;
        width: 15rem;
        font-size: 20px;
        line-height: 30px;
    }
    .personaform {
        width: 17rem;
        height: 2rem;
    }
}
@media screen and (max-width:480px) {
    .formulario{
        height: 60vh;
    }
    .personaform {
        width: 10rem;
        height: 2rem;
    }
    .reservation{
        height: 3rem;
        width: 15rem;
    }
}
/*Nahomy*/
.about{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #AC664D;
    overflow: hidden;
    padding: 100px 0;
}
.inner-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #541C0A;
    padding: 109px;
    box-shadow: 13px 12px 8px rgba(0,0,0,0.3);
    margin: 2rem;
}
.inner-section h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}
.about_title{
    font-size: 36px;
    line-height: 46px;
    text-align: left;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}
.aboutus{
    font-size: 1.5rem;
    line-height: 46px;
    color: #FFFFFF;
    text-align:justify;
    color: #AC664D;
}
.aboutusimage {
    width: 100%;
}
.skills a{
    font-size: 22px;
    text-align: center;
    letter-spacing: 2px;
    border: none;
    border-radius: 15px;
    padding: 8px;
    width: 200px;
    background-color: #AC664D;
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.skills{
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills a:hover{
    transition: 1s;
    background-color: #ecf5f5;
    color: #541C0A;
}
@media screen and (max-width:1200px){
    .inner-section{
        padding: 80px;
    }
}
@media screen and (max-width:1000px){
    .about{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-section{
        width: 100%;
        margin-right: 2rem;
    }
}
@media screen and (max-width:600px){
    .about{
        padding: 0;
        flex-direction: column;
    }
    .inner-section{
        padding: 60px;
    }
    .skills a{
        font-size: 19px;
        padding: 5px;
        width: 160px;
    }
    .aboutuspicture {
        margin-right :3rem;
    }
}
/*Alexandra*/
.contactus {
    min-height: 408px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background: #541C0A;
}
.contactus__picture {
    margin: 20px;
}
.contactus__location {
    width: 100%;
}
.contactus__info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #AC664D;
    margin: 1.5rem;
}
.contact__title {
    color: #FFFFFF;
    font-size: 3rem;
    line-height: 57px;
    text-align: center;
    margin: 1rem;
}
.contact__text {
    font-size: 2.25rem;
    line-height: 2.69rem;
    font-family: Poly;
    margin-bottom: 1.25rem;
}
.contact__link {
    color:#AC664D;
}
.footer__contacts {
    min-height: 117px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: #4B1409;
}
.contacts__social {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.social__item {
    margin:0 1.88rem;
}
.social__image {
    width: 1.25rem;
}
.contacts__copyright {
    font-family: Poly;
    font-size: 1.5rem;
    line-height: 1.81rem;
    color: #AC664D;
}
@media screen and (max-width:563px) {
    .contact__title {
        font-size: 2.5rem;
        line-height: 3.13rem;
    }
    .contact__text {
        font-size: 1.88rem;
        line-height: 2.5rem;
    }
}
@media screen and (max-width : 375px) { 
    .contact__title {
        font-size: 1.88rem;
        line-height: 2.5rem;
    }
    .contact__text {
        font-size: 1.56rem;
        line-height: 2.19rem;
    }
}